.headre-container {
  height: 50px;
  padding: 10px 50px;
  z-index: 100;
  width: 100vw;
  position: fixed;
}
.headre-wraper {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2px;
}
.headre-left {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
}
.logo {
  font-weight: bold;
  text-decoration: underline var(--primary-color);
  cursor: pointer;
}
.headre-Menu {
  display: flex;
  font-size: 16px;
  /*font-weight: bold; */
}
.menuList {
  margin-right: 20px;
  /* color: var(--secondary-color); */
  color: whitesmoke;
  cursor: pointer;
  border-radius: 3px;
}
