.contactUsContainer{
    width: 100%;
    height: 500px;
    background-color: #333;
   display: flex;
  
   padding:10px 60px ;
   border: rgb(141, 137, 137) 2px solid;
}
.contactUsWrap{
    height: 100%;
    width: 100%;
    /* padding: 10px; */
    display: flex;
   justify-content: space-between;
   /* border: rgb(212, 46, 46) 2px solid; */
}
.left{
  /* border: violet 2px solid; */
 width: 70%;
}
.topLeft{
    height: 20%;
   padding: 20px;
    color: whitesmoke;
    /* border: yellow 2px solid; */
}
.contactus-tile{
    font-weight: bold;
   
}
.contactus-para{
    font-size: 14px;
}
.boottomLeft{
   display: flex;
   flex-direction: column; 
    /* border: whitesmoke 2px solid; */
    height: 80%;
    width: 75%;
    margin-left: 30px;
}
.block{
    /* border: tomato 1px solid; */
    margin-bottom: 10px;
   
}
.firstBlock,.fourthBlock{
    display: flex;
    justify-content: space-between;
    
}
.txt{
    height: 40px;
    width: 300px;
    border-radius: 15px;
    border: none;
    font-size: 14px;
    text-align: center;
}
.txt-email{
    width: 100%;
    text-align: center;
}
.txt-tel{
    text-align: center;
    
}
.txt-besoin{
    width: 80%;
    align-self: center;
    height: 100px;
}
.btn-submit{
    cursor: pointer;
    width: 100px;
    height: 40px;
    border: none;
    font-size: 14px;
    border-radius: 10px;
    text-align: center;
    align-self: center;
}
